body {
    background: #0f172a;
    color: #e2e8f0;
    font-family: Arial;
}

h1 {
    color: #22c55e;
}

.grid {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
    box-shadow: 0 0 10px #22c55e;
}
