fastapi
uvicorn

pydantic

python-dotenv


# OpenTelemetry Core
opentelemetry-api
opentelemetry-sdk


# Tracing
opentelemetry-exporter-otlp


# Metrics
opentelemetry-exporter-otlp-proto-http


# FastAPI instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-asgi


# Logging
opentelemetry-instrumentation-logging
